ion-content {
  background: none
}

ion-app.md [padding],
ion-app.md [padding] .scroll-content {
  background: none
}

ion-app.ios [padding],
ion-app.ios [padding] .scroll-content {
  background: none
}