<ion-header>
  <ion-toolbar>
    <div class="header">
      <img class="logo" src="assets/wedding-ring.png" alt="">
      <ion-searchbar [(ngModel)]="keyword" (ionChange)="onSearch($event)" (ionClear)="onCancel($event)">
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ng-template ngFor let-section [ngForOf]="guests | async">
      <ion-list-header>
        <ion-label>{{section.group}}</ion-label>
      </ion-list-header>
      <ion-item-sliding #item  *ngFor="let member of section.members" (click)="onDetail(member.id)">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="member.avatar">
          </ion-avatar>
          <ion-label>
            <h2>{{member.name}}</h2>
            <h3>{{member.address}}</h3>
          </ion-label>
        </ion-item>
        <ion-item-options side="left">
          <!-- <button ion-button (click)="call(member)">
            <ion-icon name="qr-scanner"></ion-icon>
          </button> -->
        </ion-item-options>
    </ion-item-sliding>
    </ng-template>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="qr-scanner" (click)="scan()"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>