<ion-header>
  <ion-toolbar>
    <div class="header">
      <img class="logo" src="assets/wedding-ring.png" alt="">
      <ion-searchbar [(ngModel)]="keyword" (ionInput)="onSearch($event)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ng-template ngFor let-section [ngForOf]="guests">
      <ion-list-header>
        <ion-label>{{section.group}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let member of section.members" (click)="onDetail(member.id)">
        <ion-avatar slot="start">
          <img [src]="member.avatar">
        </ion-avatar>
        <ion-label>
          <h2>{{member.name}}</h2>
          <h3>{{member.address}}</h3>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>